.button {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-weight: 400;
  border-radius: var(--border-radius-md);
  border: none;
  padding: 0 1rem;
  height: 2.125rem;
  cursor: pointer;
  transition: background-color var(--duration-sm) ease-out;
}

.button--secondary {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  color: var(--color-text-dark);
}

.button--secondary:hover {
  background-color: var(--color-gray-100);
}

.button--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.125rem;
  padding: 0;
  border: none;
}

.button__icon {
  width: 1rem;
}