@import "./button.css";
@import "./event-list.css";
@import "./event.css";
@import "./nav.css";
@import "./month-calendar.css";
@import "./select.css";
@import "./sidebar.css";
@import "./responsive.css";

* {
  font-family: ui-sans-serif, system-ui, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text-dark);
}

:root {
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;

  --line-height-xs: 1rem;
  --line-height-sm: 1.25rem;
  --line-height-md: 1.5rem;
  --line-height-lg: 1.75rem;

  --border-radius-md: 0.25rem;

  --duration-sm: 100ms;

  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;

  --color-gray-100: #f3f4f6;
  --color-gray-300: #d1d5db;

  --color-white: #ffffff;

  --color-text-light: #f9fafb;
  --color-text-dark: #030712;
}

.app {
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.calendar {
  height: 100%;
}

@media (min-width: 768px) {
  .app {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}