::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gray-300);
  border-radius: var(--border-radius-md);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-400);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--color-gray-500);
}